body{
   margin: 0;
}
.main-h{
    width: 100%;
    height: auto;
    background-color: #000;
    margin: 0%;
    position:sticky;
    top:0;
}
.navtext{
    color:#fff;

}
.navtext:hover{
    color:#db4646;
    text-underline-offset: 10px;
    text-decoration: underline;
}
.icon1{
    color: #fff;
}

.icon1:hover{
    color:red;
}

.img-container{
    width: 100%;
}

.footer-text{
    font-size: medium;
}
.footer-text :hover{
    font-size: large;
}
.foot-ul{
    list-style: none;
    font-size:12px ;
    
}
.foot-li{
    float: left;
    background-color: #000;
    color: #bebebe;
    padding-left: 1rem;
}
